body{
    background-color:rgb(13, 233, 233);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.wrapper{
    background-color: rgb(165, 205, 92);
    padding:30px;
    border-radius:10px;
    box-shadow: 0 4px 8px rgb(0, 0, 0, .5);
    text-align: center;
}
label{
    display:block;
    margin-bottom:5px;
    color: #555;
}
.put-in{
    margin-bottom: 15px;
}
input[type=text]{
    width:calc(100% -22px);
    border:1px #ccc;
    padding:10px;
    border-radius:5px;
}
.btn{
    display:flex;
    justify-content: space-evenly;
    margin-top: 10px;
}
button{
    padding:10px 10px;
    border:none;
    background-color: rgb(10, 12, 10);
    color: rgb(16, 245, 28);
    border-radius:5px;
    font-size:16px;
}

